
/******** DROP DOWN MENU ********/ 
 
.menuSort {
    width:1200px;
    margin-left: -35px;
}
 
.menuSort li {
    list-style:none;
    font-family:'Lato', sans-serif;
}
 
.menuSort a {
    transition:all linear 0.15s;
    color:black;
    text-decoration:none;
}
  
.menuSort .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menuSort > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
/*----- Bottom Level -----*/
.menuSort li:hover .sub-menuSort {
    z-index:1;
    opacity:1;
}
 
.sub-menuSort {
    width: 800px;
    padding:0px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
}
 
.sub-menuSort li {
    display:block;
    font-size:16px;
    margin-top: 20px;
}
 
.sub-menuSort li a {
    padding-top: 30px;
    padding-bottom: 30px;
    display:block;
}
 

/******** SORTING BUTTONS ********/  

.button {
    background-color: white;
    border: none;
    color: black;
    /*padding: 15px 32px;*/
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 30px;
    cursor: pointer;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button:hover {
  background-color: white;
  color: #eec12b;
}

.button:focus {
  outline:0;
}


.button-group .button {
  float: left;
  border-radius: 0;
  background-color: white;
  border: none;

  font-family: 'Lato', sans-serif;
  color: #333333;
  color: black;
  text-align: left;
  /*margin-top: 10px;*/
  /*margin-bottom: 20px;*/
  /*padding-left: 5px;*/
  display: inline-block;
  font-size: 16px;
}

.button-group .button:hover {
  color: #eec12b;
}

.button-group .button:focus {
  color: #eec12b;
}


/******** CONTAINER ********/  

.container-gallery {
  margin: 0 auto;
  max-width: 1100px;
}

.main .container-gallery > * {
  max-width: 1100px;
}

.main .container-gallery .go-wide,
.main .container-gallery .example {
  max-width: 100%;
}

/******** GALLERY ITEMS ********/  

.gallery-item {
  float: left;
  margin-bottom: 50px;
  /*margin-right: 10px;*/
  /*width: calc(25% - 8%);*/
  width: 20%;
  }

/*.vert{
  width: calc(20% - 0%);
}*/

/*.horiz {
    width: calc(66% - 5%);
}*/


.gallery-item img {
  width: 100%;
  display: block;
}

.gallery-item .overlay {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: #F0FFFF;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: black;
}

.gallery-item .overlay:hover{
  opacity: 0.9;
}


.gallery-item .overlay p {
  position: absolute;
  bottom:0;
  color: black;
  margin-left: 20px;
  margin-bottom: 20px;
}

.gallery-item .overlay img {
  position: absolute;
  width: 30px;
  right:-15px;
  top: -15px;
}


/******** GRID ********/  
.grid {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 80px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/******** LARGER TABLET ********/ 

@media all and (max-width: 1024px) {

  .main .container-gallery {
    max-width: 1000px;
    margin-left: 15%;
  }

  .menuSort {
      width:300px;
  }

  .sub-menuSort {
    width: 300px;
  }
}

/******** SMALLER TABLET ********/ 

@media all and (max-width: 768px) {

  .main .container-gallery {
    max-width: 700px;
    margin-left: 20%;
  }

  .gallery-item {
    width: 30%;
  }

  .menuSort {
      width:300px;
  }

  .sub-menuSort {
    width: 300px;
  }

}


/******** MOBILE ********/

@media all and (max-width: 480px) {

  .main .container-gallery {
    max-width: 400px;
    margin-left: 10%;
  }

    .menuSort {
      width:250px;
      margin-left: -40px;
    }

    .sub-menuSort {
    width: 250px;
    background-color: white;
    }

    .sub-menuSort li {
      /*margin-top: 20px;*/
      padding-bottom: 40px;
}

    .container-gallery {
      max-width: 250px;
    }

    .gallery-item {
      margin-bottom: 20px;
      width: 90%;
    }
}












