
/******** SORTING BUTTONS ********/  

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button:hover {
  background-color: white;
  color: #eec12b;
}

.button:focus {
  outline:0;
}


.button-group .button {
  float: left;
  border-radius: 0;
  background-color: white;
  border: none;

  font-family: 'Lato', sans-serif;
  color: #333333;
  color: black;
  text-align: left;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-left: 5px;
  display: inline-block;
  font-size: 16px;
}

.button-group .button:hover {
  color: #eec12b;
}

.button-group .button:focus {
  color: #eec12b;
}





*/

/** {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/


/******** CONTAINER ********/  

.container-gallery {
  margin: 0 auto;
  max-width: 1000px;
}

.main .container-gallery > * {
  max-width: 1000px;
}

.main .container-gallery .go-wide,
.main .container-gallery .example {
  max-width: 100%;
}


/* desktop */
@media screen and ( min-width: 960px ) {

  .container-gallery {
    margin: 0 auto;
    max-width: 1000px;
  }



}

/******** GALLERY ITEMS ********/  

.gallery-item {
  float: left;
  /*margin-left: 20px;*/
  margin-bottom: 50px;
  }

.vert{
  width: calc(33% - 5%);
}

.horiz {
    width: calc(66% - 5%);
}


.gallery-item img {
  width: 100%;
  display: block;
}

.gallery-item .overlay {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: #eec12b;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: black;
}

.gallery-item .overlay:hover{
  opacity: 0.9;
}


.gallery-item .overlay p {
  position: absolute;
  bottom:0;
  color: black;
  margin-left: 20px;
  margin-bottom: 20px;
}

.gallery-item .overlay img {
  position: absolute;
  width: 30px;
  right:-15px;
  top: -15px;
}


/******** GRID ********/  
.grid {
  position: relative;
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}


/******** TABLET ********/

/*@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)  {*/

@media all and (max-width: 1024px) {

  .main .container-gallery {
    max-width: 700px;
    margin: 0 auto;
    padding-left: 10px;
  }

  .gallery-item {
  margin-left: 0px;  
  }

}

@media all and (max-width: 768px) {

  .main .container-gallery {
    max-width: 700px;
    margin: 5%;
  }

  .gallery-item {
  margin-left: 0px;  
  }

}


/******** MOBILE ********/

@media all and (max-width: 480px) {

.button {
    padding: 0px;
  }

.button-group .button {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 11px;
  margin-left: 5px;
}

.container-gallery {
  margin: 0 auto;
  max-width: 300px;
}

.main .container-gallery > * {
  max-width: 300px;
  margin: 0 auto;
}

.gallery-item {
  margin-left: 0px;  
}

.vert{
  width: calc(100%);
}

.horiz {
    width: calc(100%)

}













