article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;} abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*colors

yellow: #eec12b


/******** TYPOGRAPHY ********/

		body {
			background-color: white;
			font-family: 'Rubik', sans-serif;
		}

		.wrapper {
		 	max-width: 1000px;
		 	margin: 0 auto;
		}


		.menu {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 2% 5%;
		}

		ul.index-nav {

		}


		html {
    		font-size: 10px;
		}

		h1 {
			font-size: 6rem;
			color: #333333;
			font-family: 'Raleway', sans-serif;
			text-transform: uppercase;
		}

		p.company-name {
			font-size: 2rem;
			font-family: 'Raleway', sans-serif;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 2px;
		}

		h2 {
			font-size: 2.4rem;
			color: #333333;
			font-family: 'Raleway', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
		}

		h3 {
			font-size: 1.6rem;
			color: #333333;
		}

		h6 {
			font-size: 2rem;
			color: #333333;
			font-family: 'Raleway', sans-serif;
			text-transform: uppercase;
			font-weight: 400;
		}

		p {
			font-size: 1.4rem;
			line-height: 2.5rem;
			margin-bottom: 25px;
		}

		a.w5-project {
			font-size: 1.4rem;
			line-height: 2.5rem;
			font-weight: 600;
		}

		.williamscraig {
			text-transform: uppercase;
		}

		hr.vertical-rule {

			border: 0;
    		border-top: 2px solid #eec12b;

			width:15%;
			margin: 20% 40%;

			transform:rotate(90deg);
			 -o-transform:rotate(90deg);
			 -moz-transform:rotate(90deg);
			 -webkit-transform:rotate(90deg);}


/******** HEADER AND NAVIGATION ********/


		.fade-in-logo img {
			width: 50%;
			margin: 0 auto;
		}

		.arrow-down {
			/*margin-top: 100px;*/
			margin-bottom: 100px;
		}

		.back-button {
			position: fixed;
			top: 50%;
			transform:rotate(-90deg);
			 -o-transform:rotate(-90deg);
			 -moz-transform:rotate(-90deg);
			 -webkit-transform:rotate(-90deg);
		}

		.back-button a {
			text-decoration: none;
		}

		.back-button a p {
			font-size: 2rem;
			font-weight: 500;
			color: grey;
		}

		.back-to-top nav a img {
			width: 5%;
			-webkit-transform:rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			transform: rotate(180deg);
		}

		.back-to-top {
			text-align: center;
		}

		nav p {
			color: #eec12b;
			text-align: center;
			margin: 0;
			text-transform: uppercase;
		}

		.index-hero {
			text-align: center;
		}


		.logo {
			text-align: center;
			margin-top: 0px;
		}

		.logo img {
			width: 100px;
			height: auto;
		}


		a {
			font-size: 1.6rem;
			color: black;
			transition: color 0.3s ease-in-out;
		}


		ul li.active-link>a{
		    border-bottom: 2px solid white;
		    padding-bottom:2px;
		}

		.flickity-prev-next-button, ol.flickity-page-dots {
			display:none;
		}

		.fixed-arrow {
			position: fixed;
			top: 50%;
			right: 10%;
			z-index: 1;
			transform:rotate(180deg);
			 -o-transform:rotate(180deg);
			 -moz-transform:rotate(180deg);
			 -webkit-transform:rotate(180deg);
		}

		.fixed-arrow img {
			width: 10%;
		}


/******** POP-UP MENU ********/	
		

		.modal-container {
			position: fixed;
			background-color: #eec12b;
			height: 100%;
			width: 100%;
			padding: 5%;
			z-index: 500;

			-webkit-transform: translate(-50%, -200%);
			-ms-transform: translate(-50%, -200%);
			transform: translate(-50%, -200%);

			-webkit-transition: -webkit-transform 200ms ease-out;
			-ms-transition: -ms-transform 200ms ease-out;
			transition: transform 200ms ease-out;
		}

		.modal:target:before {
			display: block;
		}

		.modal:target .modal-container {
			top: 0;
			display: block;

			-webkit-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
			transform: translate(0, 0);
		}

		.modal-close {
		}

		.contact-close {
			display: flex;
			justify-content: space-between;
		}

		ul.pop-top, ul.pop-up-menu {
			list-style-type: none;
		}

		ul.pop-up-menu {
			text-align: center;
			margin: 20% 0;
			padding: 0;
		}

		.pop-top {
			display: flex;
			justify-content: space-between;
		}

		ul.pop-up-menu li {
			margin-bottom: 3.5rem;
			font-weight: 300;
		}	

		ul.pop-up-menu li a {
			font-family: 'Raleway', sans-serif;
			color: white;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: .5rem;
			font-size: 4rem;
		}

/******** END MODAL POP-UP ********/


/******** IMAGES ********/

		.post img {
			width: 100%;
		}

/******** INDEX PAGE MAIN SECTION LAYOUT ********/	


		ul.index-nav {
			display: flex;
			margin: 0;
			padding: 0;
		}

		ul.index-nav li {
			list-style-type: none;
		}

		ul.index-nav li a {
			margin-left: 20px;
		}

		.logoIndex {
			text-align: center;
			margin-top: 10%; /*temporary until I figure out flexy stuff*/
		}

		.logoIndex img{
			width: 600px;
		}

		.arrow-down a img {
			position: absolute;
			top: 85vh;
			left:calc(50% - 30px);
			width: 60px;
			margin-bottom: 50px;
		} /*this will change to wayfinding buttons on splash page*/

		.index-slider {
			text-align: center;
		}


		.hero-links {
			margin-top: 5%;
		}

		.hero-links a {
			color: white;
			padding: 15px 25px;
			margin: 10px;
			font-size: 1.5rem;
			border: 1px solid white;
			border-radius: 5px;
			font-family: 'Raleway';
			font-weight: 400;
			letter-spacing: 2px;
			text-transform: uppercase;
			text-decoration: none;
		}


/******** ABOUT PAGE ********/	


		ul li a img {
			width: 10%;
		}

		.portfolio p {
			font-size: 1.8rem;
			margin: 2rem 0;
		}

		.portfolio img {
			width: 100%;
			margin-top: 5%;
		}

		.overlap {
			z-index: 2;
		}


		section {
			margin: 8%;
		}

		section{
			margin: 0 auto;
			padding: 30px;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
		}

		.column {
			margin: 0 auto;
			z-index: -1;
		}

		.first-row {
			margin-left: 55px;
			padding-right: 55px;
			width: 75%;
		}

		.details-left {
			margin-right: 55px;
		}

		.overlap {
			margin-left: -3%;
		}

		.elevator-pitch {
			display: flex;
		}	

		.arrow-up p {
			text-transform: uppercase;
			font-size: 1.8rem;
			color: #eec12b;
		}


/******** CONTACT PAGE ********/


		.wrapper-contact {
			display: flex;
			max-width: 80%;
			margin: 0 auto;
		}

		.column-contact {
			display: flex;
			flex-wrap: wrap;
		}

		#map {
			margin-top: 50px;
	        height:420px;
	        width: 500px;
      }


/******** CONTACT FORM ********/

		.form input {
			font-size:1.2rem;
			text-transform: uppercase;
			border: none;
			border-bottom:1px solid grey;
			padding-bottom:15px;
			width:90%;
			margin-bottom: 10px;
		}

		.form input:hover {
			border-bottom:1px solid #eec12b;
		}

		.form input:focus {
			border: none;
			outline: none;
			border-bottom:1px solid #eec12b;
		}

		textarea {
			font-size:1.2rem;
			border: none;
			border:1px solid grey;
			border-radius: 2px;
			padding: 10px;
			width:90%;
			margin-top: 20px;
		}

		textarea:focus {
			border: none;
			outline: none;
			border:1px solid #eec12b;
		}

		input.submit-button {
			margin-top: 10px;
			border-radius: 2px;
			padding:10px;
			font-family: 'Proza Libre', sans-serif;
			font-size:1.2rem;
			color: grey;
			border:1px solid grey;
			width: 40%;
			background-color: white;
			transition: border 0.3s ease-in-out;
			transition: color 0.2s ease-in-out;
		}

		input.submit-button:hover {	
			border:1px solid #eec12b;
			color: #D6B343;
		}

		input.submit-button:focus {	
			border:1px solid #eec12b;
			color: #eec12b;
		}


/******** INDIVIDUAL PROJECT PAGES ********/


		.column-center {
			text-align: center;
		}

		hr.vertical-rule-projects {

			border: 0;
			border-top: 2px solid #eec12b;

			width:15%;
			margin: 20% 43%;

			transform:rotate(90deg);
			 -o-transform:rotate(90deg);
			 -moz-transform:rotate(90deg);
			 -webkit-transform:rotate(90deg);
		}	

		.side-by-side {
			width: 100%;
		}

		.side-by-side img {
			float: left;
			width: 48%;
		}

		.image-right {
			margin-left: 20px;
		}

		.image-left {
			margin-right: 20px;
		}

		.wrapper.column-center p {
			margin-right: 0;
		}		 


/******** FOOTER ********/	


		footer {
			width: 80%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-left: 10%;
			margin-top: 50px;
			margin-bottom: 20px;
		}

		.columnFooter {
		  	display: flex;
		  	flex-direction: row;
		  	flex-wrap: wrap;
		}

		.yellow-block {
			background-color:#eec12b;
			margin-top: -20px;
			padding: 10px;
		}		


/******** VIEWPORT ANIMATION ********/

		.hidden{
		    opacity:0;
		}
		.visible{
		    opacity:1;
		}		 






